.btEditar {
    font-size: 1.2em;
    color: white;     
} 

.btEvolucao {
    font-size: 1.2em;
    color: rgb(0, 0, 0);     
} 

.btExcluir {
    font-size: 1.2em;
    color: white;    
}

.btAssistir {
    font-size: 1.3em;
    color: white;         
} 

.btAcao {     
    justify-content: center;
    align-items: center; 
    padding: 10px; 
    display: flex;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(245,245,220);
    margin: 0;   
    padding: 0;
    color: #333;
}

.btntb{
    padding: 0;
}

.container{
    width: 100%;   
    margin: 0 auto;
    padding: 25px;
    background-color: rgba(143,188,143, 0.7);
    box-shadow: 0 0 10px rgba(88, 74, 74, 0.1);
    border-radius: 8px;   
}


.formgroup {
    margin-bottom: 15px;
}

.formgroup label {
    display: block;
    margin-bottom: 5px;
}

.formgroup input, .formgroup textarea, .formgroup select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;    
}


.table th, .table td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;    
}

.table th {
    background-color: #007bff;
    color: white;
}

.table tr:nth-child(even) {
    background-color: rgba(250, 250, 210, 0.5);
}

.formControl:hover {    
    border-color: #c6d8e6; 
    box-shadow: 0 0 10px rgba(179, 205, 230, 0.3);     
}


.imagem {
    width: 150px; /* Largura da imagem */
    height: 130px; /* Altura da imagem */
    /*object-fit: contain;  Ajusta a imagem mantendo as proporções */
    margin: 10px; /* Margem entre as imagens */ 
    display: flex;   
    border: 1px solid rgb(49, 49, 230);   
    margin-left: 15px;    
}

.galeria { 
    display: flex;  
    width: 90%;
    flex-grow: 1; 
    justify-content: space-between;     
}

.resenhadescritiva {
    width: 100%;    
    align-items: center;
    justify-content: center;
    font-size: 18px;   
}

textarea {    
    width: 100%; /* Largura total */    
    height: 200px;
    border: 1px solid #ccc; /* Borda padrão */
    border-radius: 5px; /* Borda arredondada */
    font-size: 18px; /* Tamanho da fonte */    
     
}

.etapa2 {
    width: 100%;    
    height: 50%;      
}

.formControl:hover {    
    border-color: #16c909; 
    box-shadow: 0 0 10px rgba(179, 205, 230, 0.3);     
}

.botao {
    margin-top: 20px; /* Aumenta a margem superior para distanciar o botão das imagens */
}

/*.form_control {
    height: 200px !important;
}*/

.containerMain {
    background-image: url('../../assets/eco2.jpg');
    background-size: contain; /* Ajuste para manter a proporção da imagem */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-position: center;
    width: 50%;
    height: 50vh; 
    position: relative; 
    background-color: rgba(0, 0, 0, 0.7);
}

.praticanteDados {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    padding: 0 20px;
    margin-top: 1%;    
    margin-left: 10%;    
    border-radius: 5px;     
}

.styloData {
    margin-top: 5%;    
    background-color: rgba(250, 250, 210, 0.4);
    border: 1px solid rgba(250, 229, 210, 0.5); 
    border-radius: 5px; 
}

.corFonte {
    color: rgb(49, 63, 249);
}

.formgroupservice {
    text-align: left;
    width: 100%;    
}

.cabeca {
    position: absolute;
    left: 14%;
    margin-top: 1%;
    transform: translateX(-50%);
    font-weight: bold;
    color: #3366ff; /* Você pode substituir pelo código de cor desejado */
    font-size: 24px; /* Tamanho da fonte */
    text-transform: uppercase; /* Deixa o texto em maiúsculas */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra de texto */
  }  

  