.btEditar {
    font-size: 1.2em;
    color: white;
} 

.btExcluir {
    font-size: 1.2em;
    color: white;
}

.btAssistir {
    font-size: 1.3em;
    color: white;
} 

.btAcao {
    justify-content: center;
    align-items: center;
    padding: 10px;
    display: flex;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(220, 228, 245);
    margin: 0;
    padding: 0;
    color: #333;
}

.btntb {
    padding: 0;
}

.cabeca {
    margin-left: 40%;
    font-weight: bold;
    color: #3366ff;
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.container {
    max-width: 95%;
    margin: 30px auto;
    padding: 25px;
    background-color: rgba(143, 188, 143, 0.7);
    box-shadow: 0 0 10px rgba(88, 74, 74, 0.1);
    border-radius: 8px;
}

.formgroupservice {
    text-align: left;
    width: 100%;
}

.formgroup {
    margin-bottom: 15px;
}

.formgroup label {
    display: block;
    margin-bottom: 5px;
}

.formgroup input, .formgroup textarea, .formgroup select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #007bff;
    color: white;
}

.table tr:nth-child(even) {
    background-color: rgba(250, 250, 210, 0.5);
}

.formControl:hover {
    border-color: #c6d8e6;
    box-shadow: 0 0 10px rgba(179, 205, 230, 0.3);
}

.imagem {
    width: 150px;
    height: 130px;
    margin: 10px;
    display: flex;
    border: 1px solid rgb(49, 49, 230);
    margin-left: 15px;
    cursor: pointer;
}

.galeria {
    display: flex;
    width: 90%;
    flex-grow: 1;
    justify-content: space-between;
    margin-left: 5%;
}

.resenhadescritiva {
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-top: 2%;
}

textarea {
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
}

.etapa2 {
    width: 100%;
    height: 50%;
    margin-top: 2%;
}

.etapa1 {
    margin-top: 5%;
}

.formControl:hover {
    border-color: #16c909;
    box-shadow: 0 0 10px rgba(179, 205, 230, 0.3);
}

.botao {
    margin-top: 20px;
}

.form_control {
    height: 200px;
}

.equineData {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    padding: 0 20px;
    margin-top: 1%;
    margin-left: 10%;
    border-radius: 5px;
}

.styloData {
    margin-top: 5%;
    background-color: rgba(250, 250, 210, 0.4);
    border: 1px solid rgba(250, 229, 210, 0.5);
    border-radius: 5px;
}

.corFonte {
    color: rgb(49, 63, 249);
}
